@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
  display: flex;
}
.middle{
  max-width: 1140px;
  margin: 0 auto;
}
.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 23px;
  border-radius: 8px;
  border: none;
}
.description{
  font-size: 1rem;
  font-weight: 400;
}
/* navbar styles */
.brand{
  font-size: 2.8125rem;
  font-weight: 700;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.links-container{
  gap: 25px;
}
.item{
  list-style: none;
}
.link{
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}
/* banner styles */
.banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-img img{
  width: 100%;
}
/* features styles */
.features{
  align-items: center;
  gap: 73px;
  margin-top: 85px;
}
.imp-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.imp-container img{
  width: 100%;
}
.features-content{
  max-width: 537px;
  margin: 0 auto;
}
.features-title{
  font-size: 2.8125rem;
  font-weight: 700;
}
.quick-list{
  font-weight: 500;
}
.orange{
  color: #FF900E;
}
/* responsive for small devices */
@media screen and (max-width: 576px) {
  .navbar, .links-container{
    flex-direction: column;
  }
}